body{
    font-family: "Agency FB";
    display: flex;
    flex-direction: column;
    align-items: center;
}



.home-img {
    width: 400px;
    height: 400px;
    animation-name: test;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes test {
    from {rotate: 0deg}
    to {rotate: 360deg}
}
.btn-zone {
    margin-top:50px;
}

.btn {
  border: 1px solid darkslateblue;
    background-color: darkslateblue;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
}

.btn:hover {
border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
}

.messquestion { border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-self: flex-start;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.messreponse{
    border: 1px solid darkslateblue;
    background-color: darkslateblue;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-self: flex-end;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}
.mess-zone{

    display: flex;
    flex-direction: column;
    gap:1rem;
    padding-top: 20px;
}

.joke{
    padding-top: 20px;
}
